{% extends 'base.html.twig' %}

{% block title %}notres Articles{% endblock %}

{% block body %}
<div class="container d-flex justify-content-between  flex-wrap pt-5">
    <div class="row h-75">

        {% for article in articles %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ article.img }}" class="card-img-top" alt="{{ article.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.name }}</h5>
                        <p class="card-text">
                            <strong>Prix :</strong> {{ article.price }} €<br>
                            <strong>Marque :</strong> {{ article.brand }}<br>
                            {{ article.detail|slice(0, 100) ~ '...' }}
                        </p>
                        <a href="#" class="btn btn-outline-success">Voir plus</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p class="text-center">Aucun article trouvé.</p>
            </div>
        {% endfor %}
    </div>
</div>{% endblock %}
